.header h6{
    margin-right: 40px;
    margin-top: 10px;
}
.text-nav{
    color: black;
    margin-left: 15px;
    font-size:15px;
}

button{
    margin-left: 20px;
    color:white;
    background-color: orange;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
}

.what-img{
    position: relative;
    width:300px;
    height:400px;
    border-radius:5px;
}

.text{
    position: absolute;
    top: 40%;
    left: 20%;
}